/*.icon-icon-facebook {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 10px;
  height: 20px;
}
.icon-icon-insta {
  background-image: url(../images/sprite.png);
  background-position: -21px -21px;
  width: 19px;
  height: 19px;
}
.icon-search {
  background-image: url(../images/sprite.png);
  background-position: -53px 0px;
  width: 20px;
  height: 19px;
}
.icon-sprite-email {
  background-image: url(../images/sprite.png);
  background-position: -11px 0px;
  width: 20px;
  height: 20px;
}
.icon-sprite-fone {
  background-image: url(../images/sprite.png);
  background-position: -32px 0px;
  width: 20px;
  height: 20px;
}
.icon-sprite-map {
  background-image: url(../images/sprite.png);
  background-position: 0px -21px;
  width: 20px;
  height: 20px;
}
*/